<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header')%>
</head>

<body>
<%- include('../partials/nav') -%>
<div class ="blogs content container pt-3">
        <h2 class ="mb-4">All Blogs</h2>
        <% if (blogs.length > 0) { %>
        <% blogs.forEach((blog) => { %>
            <a href="/blogs/<%= blog.id %>" class ="card-text-href">
                <div class="card mb-3 shadow-lg special-color">
                    <div class="card-body">
                        <h3><%= blog.title  %></h3>
                        <p> <%= blog.snippet %></p>
                    </div>
                </div>
            </a>
        <% }) %>
        <% } else {%>
            <p>No Blogs Available</p>
        <%}%>
</div>
<%- include('../partials/footer') -%>